.whatsapp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacio entre el icono y el texto */
    padding: 10px 20px;
    background-color: #25D366; /* Color de fondo del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.whatsapp-icon {
    width: 24px;
    height: 24px;
    fill: white; /* Color del icono */
}

.text_button {
    margin: 0;
    padding: 0;
    line-height: 1;
}
